# Python virtual environment
venv/
.venv/
env/

# Caches & Compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local environment configuration secrets
.env

# Local SQLite databases & instance folder
instance/
*.db

# System files
.DS_Store
Thumbs.db

# Node.js dependencies
node_modules/
